.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.calendar {
  width: 400px;
}

.calendar-menu-row {
  padding: 10px;
}

.calendar-menu-daily-button{
  width: 85px;
  .ant-input{
    &:hover {
      background-color: #fdcb24;
      color: #000000;
      border-color: #fdcb24;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  
    &:active {
      background-color: #fdcb24;
      color: #000000;
      border-color: #fdcb24;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  
    &:focus {
      background-color: #fdcb24;
      color: #000000;
      border-color: #fdcb24;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
    
  }
}

.ant-calendar-picker-input{
  color: #000000;
  &::placeholder{
    color: #000000
  }
}

.ant-calendar-picker-input.ant-input{
  &:hover{
    border-color: #fdcb24 !important;
  }
}

.ant-calendar-picker-icon{
  display: none
}