.calendar {
  width: 400px;
}

.calendar-menu {
  &__row {
    margin: 10px 0px 15px 0px;
  }

  &__button {
    color: #000000;
    &:hover {
      background-color: #fdcb24;
      border-color: #fdcb24;
      color: #000000;
    }
    &:focus {
      background-color: #fdcb24;
      border-color: #fdcb24;
      color: #000000;
    }
    &__active {
      background-color: #fdcb24;
      border-color: #fdcb24;
      color: #000000;
      &:hover {
        background-color: #fdcb24;
        border-color: #fdcb24;
        color: #000000;
      }
      &:focus {
        background-color: #fdcb24;
        border-color: #fdcb24;
        color: #000000;
      }
    }
  }
}
