.month-header-component {
  border: 0px;
  text-align: center;

  &__header {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #e6e6e6;
    padding: 15px 0px 5px 0px;
    &__prev-month-button {
      float: left;
      border: 0px;
      margin-top: -3px;
    }

    &__next-month-button {
      float: right;
      border: 0px;
      margin-top: -3px;
    }
  }
}
